In [26]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [27]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2020-02-20 20:53:22,-34.42,19.23,66.99,93,0,13.94
1,1,Cape Town,ZA,2020-02-20 20:51:03,-33.93,18.42,68.00,72,0,21.92
2,2,Busselton,AU,2020-02-20 20:53:27,-33.65,115.33,68.00,34,70,15.84
3,3,Pedra,BR,2020-02-20 20:57:27,-8.50,-36.94,76.42,70,100,9.04
4,4,La Macarena,CO,2020-02-20 20:57:27,2.18,-73.78,93.00,41,92,6.22

In [28]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [29]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [30]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Pedra,BR,2020-02-20 20:57:27,-8.50,-36.94,76.42,70,100,9.04
6,6,Kapaa,US,2020-02-20 20:52:31,22.08,-159.32,77.00,73,90,20.80
10,10,Caravelas,BR,2020-02-20 20:52:05,-17.71,-39.25,81.34,79,17,14.90
13,13,Butaritari,KI,2020-02-20 20:53:22,3.07,172.79,83.17,80,100,13.94
17,17,Ixtapa,MX,2020-02-20 20:54:03,20.70,-105.20,78.80,69,40,6.93
19,19,Talcahuano,CL,2020-02-20 20:57:28,-36.72,-73.12,78.80,39,0,9.17
24,24,Avarua,CK,2020-02-20 20:57:29,-21.21,-159.78,80.60,88,100,5.82
25,25,Vaini,TO,2020-02-20 20:54:26,-21.20,-175.20,78.80,74,20,5.82
26,26,Itarema,BR,2020-02-20 20:53:33,-2.92,-39.92,77.50,90,100,4.23
27,27,Yaan,NG,2020-02-20 20:57:29,7.38,8.57,84.96,14,4,4.21

In [36]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
3        Pedra      BR     76.42  -8.50  -36.94
6        Kapaa      US     77.00  22.08 -159.32
10   Caravelas      BR     81.34 -17.71  -39.25
13  Butaritari      KI     83.17   3.07  172.79
17      Ixtapa      MX     78.80  20.70 -105.20
19  Talcahuano      CL     78.80 -36.72  -73.12
24      Avarua      CK     80.60 -21.21 -159.78
25       Vaini      TO     78.80 -21.20 -175.20
26     Itarema      BR     77.50  -2.92  -39.92
27        Yaan      NG     84.96   7.38    8.57

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Pedra,BR,76.42,-8.50,-36.94,Pousada Oceanus
6,Kapaa,US,77.00,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
10,Caravelas,BR,81.34,-17.71,-39.25,Pousada dos Navegantes
13,Butaritari,KI,83.17,3.07,172.79,Isles Sunset Lodge
17,Ixtapa,MX,78.80,20.70,-105.20,Container Inn Puerto Vallarta
19,Talcahuano,CL,78.80,-36.72,-73.12,Hotel Terramar
24,Avarua,CK,80.60,-21.21,-159.78,Paradise Inn
25,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort
26,Itarema,BR,77.50,-2.92,-39.92,Windvillage
27,Yaan,NG,84.96,7.38,8.57,

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [48]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))